@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>@ErrorMessage</div>
}
else if (Products != null && Products.Count() > 0)
{
    <ul class="list">
        @foreach (var product in Products)
        {
            <li role="presentation">
                <div class="card">
                    <CardContent Title="@product.Title" Description="@product.Description" />

                    <footer class="card-footer">

                        <ButtonFooter Class="delete-item"
                                      IconClasses="fas fa-trash"
                                      OnClick="@(async _ => await DeleteProduct.InvokeAsync(product))"
                                      Label="Delete" />

                        <ButtonFooter Class="edit-item"
                                      IconClasses="fas fa-edit"
                                      OnClick="@(async _ => await EditProduct.InvokeAsync(product))"
                                      Label="Edit" />

                        <ButtonFooter Class="view-item"
                                      IconClasses="fas fa-view"
                                      OnClick="@(async _ => await ViewProduct.InvokeAsync(product))"
                                      Label="Details" />
                    </footer>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div>Loading data...</div>
}
@code {
    [Parameter] public IEnumerable<Product> Products { get; set; }
    [Parameter] public EventCallback<Product> DeleteProduct { get; set; }
    [Parameter] public EventCallback<Product> EditProduct { get; set; }
    [Parameter] public EventCallback<Product> ViewProduct { get; set; }
    [Parameter] public string ErrorMessage { get; set; }
}